* {
    margin: 0;
    padding: 0;
    /* -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; */
}

/* font */
@font-face {
    font-family: 'source sans pro'; 
    src: url('fonts/source-sans-pro/SourceSansPro-Black.otf'); 
}

@font-face {
    font-family: 'source sans pro'; 
    src: url('fonts/source-sans-pro/SourceSansPro-Bold.otf'); 
}

@font-face {
    font-family: 'source sans pro'; 
    src: url('fonts/source-sans-pro/SourceSansPro-Regular.otf'); 
}

font-face {
    font-family: 'source sans pro'; 
    src: url('fonts/source-sans-pro/SourceSansPro-Light.otf'); 
}

/* Start Variables */
:root {
    --primary-color: #FF6565;
}
/* End Rules */

body {
    font-family: 'SourceSansPro', sans-serif; /* Fallback font */
}
.container {
    /* padding-left: 15px; */
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}





.header .background {
    padding: 20px;
    background-image: url(./images/headphones_hero_1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: fit-content;
    /* width: 100%; */
}

.header .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header .logo {
    width: 200px;
}


.header .links {
    display: grid;
    align-items: center;
}
.header .links:hover .icon span:nth-child(2) {
    width: 100%;
}

.header .links .icon {
    position: absolute;
    left: 8%;
    width: 25px;
    height: 25px; /* Added height to make the icon visible */
    flex-direction: column;
    justify-content: space-between;
}

.header .links .icon span {
    background-color: white;
    margin-bottom: 5px;
    height: 2px;
    /* display: none; */
}

.header .links .icon span:first-child {
    width: 100%;
}

.header .links .icon span:nth-child(2) {
    width: 60%;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.header .links .icon span:last-child {
    width: 100%;
}



.header .links .large-view {
    /* display: flex; */
    list-style: none;
}
.header .links .small-view {
    display:none;
    list-style: none;
}





a {
    color: white;
    text-decoration: none;
}

.header .links .large-view li a{
    display: block;
    padding: 15px;
}

/* Links hover/active state */
a:hover, a:active {
    color: var(--primary-color);
}

.intro {
    text-align: center;
}

.intro h1 {
    color: white;
    font-size: 28px;
    font-weight: 800;
    margin-top: 320px;
}

.intro h3 {
    color: white;
    font-size: 16px;
    font-weight: 800;
    margin-top: 0;
}


.intro .button {
    color: white;
    background-color: var(--primary-color);
    border: none;
    width: 162px;
    height: 44px;
    -webkit-border-radius: 22px;
    -moz-border-radius: 22px;
    -ms-border-radius: 22px;
    -o-border-radius: 22px;
    border-radius: 22px;
    align-items: center;
    margin-top: 20px;
}

/* Button hover/active state */
button:hover, button:active {
    opacity: 0.9;
}

.intro2 p {
    color: white;
    line-height: 1.6;
    font-size: 16px;
    margin-top: 80px;
;}



.intro3{
    margin-top: 100px;
}

.intro3 p {
    margin-top: 40px;
    line-height: 1.6;
}

#what {
    margin-top: 40px;
    text-align: center;
}





.col {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    justify-content: space-around;
    text-align: center;
    gap: 20px;
}


.col img {
    margin: auto;
    width: 60px;
    height: 50px;
}

.col h4 {
    font-size: 18px;
}

.col p {
    font-size: 14px;
    line-height: 1.6;
    margin: auto auto 60px;
    width: 200px;
    max-width: 100%;
}

/* Large screens */
@media (min-width: 992px) {
    .intro {
        width: 637px;
        margin: auto;
    }
    .links ul {
        display: flex;
    }
    .links .icon {
        display: none;
    }
    #menu-toggle {
        display: none;
      }

      .service-content {
        display: grid;
        width: 1000px;
        max-width: 100%;
        text-align: center;
        margin: auto;
        grid-template-columns: repeat(4, minmax(100px, 1fr));
        grid-gap: 20px;
    }

    /* .header .links .small-view {
        display: none;
    } */
}

/* Medium screens */
@media only screen and (min-width:481px) and (max-width:991px) {
    .intro {
        width: 637px;
        margin: auto;
    }
    .links .large-view {
        display: flex;
    }
    .links .icon {
        display: none;
    }
    #menu-toggle {
        display: none;
      }
    
      .service-content {
        display: grid;
        width: 1000px;
        max-width: 100%;
        text-align: center;
        margin: auto;
        grid-template-columns: repeat(2, minmax(100px, 1fr));
        grid-gap: 15px;
    }

    /* .header .links .small-view {
        display: none;
    } */
}



/* Small screens */
@media (max-width: 480px) {
    .header .container {
        display: grid;
    }
    .intro {
        width: 335px;
        margin: auto;
    }

    .links .large-view {
        display: none;
    }
    .header .logo {
        margin: 50px auto;
        width: 150px;
    }

    .links .icon {
        display: flex;
        position: absolute; /* Add absolute positioning */
        top: 80px; /* Adjust top position as needed */
        right: 20px; /* Adjust right position as needed   
     */
        cursor: pointer;
      }
    
      .links .small-view {
        display: none;
        position: absolute; /* Add absolute positioning */
        top: 130px; /* Adjust top position as needed */
        right: 0;
        width: 100%;
        z-index: 999; /* Ensure menu is above other content */
      }
      #menu-toggle {
        display: none;
      }
      #menu-toggle:checked ~ .small-view {
        display: grid;
        justify-content:space-around;
        gap: 20px;
      }
    
      .service-content {
        display: grid;
        width: 1000px;
        max-width: 100%;
        text-align: center;
        margin: auto;
        grid-template-columns: repeat(1, minmax(100px, 1fr));
        grid-gap: 20px;
    }
}
